<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>One Place</title>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/application-angular.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="homebody">
	<div ng-controller="controller">
		<div ng-include="'header.html'"></div>
		<div class="logindiv">
			<form action="" method="get" ng-submit="loginCheck()">
				<table>
					<tr>
						<th class="lableclass"></b>User Name:</b></th>
						<td><input type="text" required="required"
							ng-model="userName"></td>
					</tr>
					<tr></tr>
					<tr></tr>
					<tr>
						<th class="lableclass"><b>Password:</b></th>
						<td><input type="password" required="required"
							ng-model="password"></td>
					</tr>
					<tr></tr>
					<tr></tr>
					<tr>
						<td><input type="submit" value="Sign In" class="signupclass" /></td>
						<td><a href="../html/Signup.html" class="signupclass">Sign Up</a></td>
					</tr>

				</table>

			</form>
		</div>
		<div ng-include="'footer.html'"></div>
	</div>
</body>
</html>